#start {
  font-size: 100px;
  margin: auto;
  width: 500px;
  display: flex;
  flex-direction: row;
  justify-content:center;
  justify-content: space-between;
  
}
#join{
  font-size: 100px;
  margin: auto;
  width: 500px;
  display: flex;
  flex-direction: row;
  justify-content:center;
  justify-content: space-between;
}



/* *{
  margin:0;
  padding:0;
}
body,html {
  background: #2e2e2e;
}
.container {
  display:flex;
  justify-content:center;
  align-items:center;
  height:100vh;
  width:100%;
}
.container a{
  text-decoration: none;
  color:white;
  background: #4b6584;  
  padding: 20px 40px;
  font-size: 18px;
  border-radius: 10px;  
}
*/
